<script>
import {IS_MOBILE_VK} from '../store/constants'
  import Back from "../assets/Back.svelte";
  import { FILMS } from "../store/constants";
  import { router } from "tinro";
  export let params;
  $: id = Number(params.id); 
  let film = {};
  $: film = FILMS.find(item => item.id === id);
</script>

<div class="container">
  <div class="header" class:isMobileVk={IS_MOBILE_VK}>
    <a href="/"><Back /></a>
    <div class="title">Список серий</div>
  </div>
  <div class="episodes">
  
    {#each film.episodes as episode}
      <a href={`/player/${film.id}/${episode.id}`}>
        <div class="episode">
          <div class="avatar" style={`background-image: url(./images/covers${episode.cover})`}/>
          <div class="link">{episode.title}</div>
        </div>
      </a>
    {/each}
  </div>
</div>

<style>
.header{
    padding: 16px 16px 8px 16px;
    display: flex;
    align-items: center;
}
  .episodes {
    flex-grow: 1;
    overflow: auto;
    padding: 16px;
    -webkit-overflow-scrolling: touch;
  }
  .container {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .title {
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 31px;
    color: #ffffff;
    margin-right: 42px;
    margin-left: 24px;
    /* text-align: center; */
    flex-grow: 1;
  }
  .link{
      font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: #ffffff;
    margin-right: 42px;
  }
  .avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #fbb912;
    margin-right: 16px;
    background-position: center;
    background-size: cover;
  }
  .episode {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
  }
  .episode:last-child {
    margin-bottom: 0;
  }
  a {
    text-decoration: none;
  }
  .isMobileVk{
    margin-top: 35px;
  }
  
</style>
