<script>
  import Spacer from "../components/Spacer.svelte";
  import Header from "./main/Header.svelte";
  import Slider from "./main/Slider.svelte";
  import Footer from "./main/Footer.svelte";
  import Films from "./main/Films.svelte";
  import Series from "./main/Series.svelte";
  import YoutubePlayer from "./main/YoutubePlayer.svelte";
  import { initVk } from "../store/actions";

  initVk();
  
</script>

<Header />
<Spacer size={20} />
<Slider />
<Spacer size={20} />
<Series />
<Spacer size={10} />
<Films />
<Footer />
<YoutubePlayer />

<style>
  :global(body) {
    max-width: 100% !important;
    overflow-x: hidden !important;
    background: #222222;
    overflow-x: hidden;
    overflow-y: auto;
  }
</style>
