<script>
  import { onMount } from "svelte";
  import Video from "./player/Video.svelte";
  import { startPlayer } from "../store/actions";
  import { router } from "tinro";
  export let params;
  let { id, episodeId } = params;
  $: {
    id = params.id
    episodeId = params.episodeId
    startPlayer({ id:Number(id), episodeId: Number(episodeId) });
  }
  let overflowState = "";
  onMount(() => {
    overflowState = document.body.style.overflow;
    document.body.style.overflow = "hidden";
    return () => (document.body.style.overflow = overflowState);
  });
</script>
{#each [episodeId] as episode, i (episode)}
<Video />
{/each}
