<button class="button" on:click>
  <slot />
</button>

<style>
  .button {
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    background: transparent;
    border-radius: 10px;
    color: white;
    text-transform: uppercase;
    padding: 10px 35px;
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    cursor: pointer;
    border: 3px solid #ffffff;
    box-sizing: border-box;
    /* box-shadow: 0px 0px 20px #fbb912; */
    border-radius: 10px;
  }
  button.button:not(:disabled):active {
    background-color: transparent;
  }
</style>
