<script>
  import { selectEpisode } from "../../store/actions";
  import PlayFilm from "../../assets/PlayFilm.svelte";
  export let episode = {};

  const episodeClick = () => {
    selectEpisode(episode);
  };
</script>

<div class="episode" on:click={episodeClick}>
  <div class="subtitle">{episode.subtitle}</div>
  <div class="title">{episode.title}</div>
</div>

<style>
  .episode {
    user-select: none;
    cursor: pointer;
    min-width: 205px;
    max-width: 205px;
    margin: 0px 10px 10px 10px;
    min-height: 75px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #fbcb19;
    border-radius: 10px;
    padding: 16px;
  }
  .title {
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 22px;
  }
  .subtitle {
    font-style: normal;
    font-weight: 800;
    font-size: 14px;
    line-height: 17px;
    color: rgba(34, 34, 34, 0.5);
  }
</style>
