<script>
  import Button from "../../components/Button.svelte";

  // import Kinopoisk from "../../assets/Kinopoisk.svelte";

  export let film = {};
</script>

<div class="film">
  <div class="coverContainer">
    <div class="coverWrapper">
      <!-- <div class="kinopoisk">
        <Kinopoisk />
        <div class="kinopiskText">{film.kinopisk}</div>
      </div> -->
      <a href={film.episodes.length === 1 ? `/player/${film.id}/1` : `/film/${film.id}`}>
        <img
          src={`./images/covers/${film.cover}`}
          alt="film cover"
          class="cover" />
      </a>
    </div>
  </div>
  <div class="info">
    <div class="title">{film.title}</div>
    <div class="description">{film.year}</div>
  </div>
</div>

<style>
  .description {
    font-style: normal;
    font-weight: 800;
    font-size: 12px;
    line-height: 15px;

    color: #434343;
  }
  .coverWrapper {
    user-select: none;
    position: relative;
    cursor: pointer;
  }

  .film {
    margin: 0px 10px 10px 10px;
  }

  .cover {
    cursor: pointer;
    width: 132px;
    height: 198px;
    background: transparent;
  }
  .title {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;
    margin: 16px 0px 4px 0px;
  }
</style>
