<script>
  import Film from "./Film.svelte";
  import Spacer from "../../components/Spacer.svelte";
  import { FILMS } from "../../store/constants";
</script>

<div class="title">
  <div class="titleText">Фильмы</div>

</div>
<Spacer size={20} />
<div class="films">
  {#each FILMS as film}
    <Film {film} />
  {/each}
  <div class="spacer" />
</div>

<style>
  .spacer {
    min-width: 10px;
  }
  .title {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 16px;
  }
  .titleText {
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 31px;
    color: #ffffff;
    margin-right: 42px;
  }

  .films {
    display: flex;
    position: relative;
    overflow-x: auto;
    padding: 0 12px 12px 12px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  .films::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }
  @media (min-width: 600px) {
    .films {
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
    }
    .spacer {
      min-width: 0;
    }
  }
</style>
