<script>
  import Button from "../../components/Button.svelte";
  import Spacer from "../../components/Spacer.svelte";
  import sendMetrik from '../../helpers/sendMetrik'
</script>

<div class="footer">
  <a href="https://vk.com/screenlifer" class="main" target="_blank" on:click={()=>sendMetrik('MoreButton')}>
    <div class="text small">Перевстретим новый год</div>
    <Spacer size={8} />
    <div class="text big">30 июня</div>
    <Spacer size={20} />
    <!-- <a href="https://vk.com/screenlifer" target="_blank" on:click={()=>sendMetrik('RemindMe')}>
      <Button>напомнить мне</Button>
    </a> -->
    <Spacer size={16} />

    <div class="screenliferLinkText">
      Подробности на
      <span class="screenliferLink" >
        screenlifer
      </span>
    </div>

    <img src="./images/fir01.png" alt="bg" class="fir1" />
    <!-- <img src="./images/fir02.png" alt="bg" class="fir2" /> -->
  </a>

  <div class="screenlifeBlock">
    <a href="https://vk.com/screenlifer" target="_blank" on:click={()=>sendMetrik('MoreButton')}>
      <div class="screenlifeLogo">
        <img
          src="./images/screenlifelogo.png"
          alt="screenlife logo"
          class="screenlifeLogoImg" />
        screenlifer
      </div>
    </a>
  </div>
</div>

<style>
  .screenliferLinkText {
    font-style: normal;
    font-weight: 800;
    font-size: 16px;
    line-height: 20px;

    color: #ffffff;
  }
  .fir1 {
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .main {
    background: #fbb912;
    position: relative;
    background-image: url(../images/fir02.png);
    background-position: bottom right;
    background-repeat: no-repeat;
  }
  a:active,
  a:focus {
    
    outline: none;
  }
  a{
    text-decoration: none;
  }
  .screenlifeLogoImg {
    margin-right: 8px;
  }
  .screenlifeBlock {
    background: rgba(26, 20, 20, 0.01);
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 21px 0 13px 0;
  }
  .screenlifeBlock a{
    text-decoration: none;
  }
  .screenlifeLogo {
    display: flex;
    align-items: center;
    color: #ffffff;
  }

  .main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 22px 35px 22px 35px;
  }
  .text {
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 31px;
    text-align: center;

    color: #212121;
  }
  .big {
    font-size: 32px;
    color: white;
  }
  .screenliferLink {
    color: #222222;
    text-decoration: underline;
  }
  .screenliferLink:visited {
    color: #222222;
  }
</style>
