<script>
import {IS_MOBILE_VK} from '../../store/constants'
</script>
<div class="header" class:isMobileVk={IS_MOBILE_VK}>
  <img src="./images/elkilogo2.png" alt="Лого Ëлки" class="logo" />
</div>

<style>
  .header {
    background: #000000;
    border-radius: 0px 0px 20px 20px;
    padding: 26px 26px 16px 26px;
    
  }
  .isMobileVk{
    padding: 50px 26px 16px 26px;
  }
  .logo{
    height: 40px;
  }
  @media (min-width: 600px) {
    .header {
      display: flex;
      justify-content: center;
    }
  }
</style>
