<script>
import Spacer from "../../components/Spacer.svelte";
  import Episode from "./Episode.svelte";
  import { SERIES } from "../../store/constants";
</script>

<div class="title">
  <div class="titleText">Новые серии</div>
</div>
<Spacer size={20}/>
<div class="films">
    {#each SERIES as episode}
        <Episode {episode}/>
    {/each}
    <div class='spacer'/>
</div>

<style>
  .spacer{
      min-width: 10px;
  }
  .title {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 16px;
  }
  .titleText {
    font-style: normal;
    font-weight: 800;
    font-size: 25px;
    line-height: 31px;
    color: #ffffff;
    margin-right: 42px;
    white-space: nowrap;
  }
  
  .films {
    display: flex;
    position: relative;
    overflow-x: auto;
    padding: 0 12px 12px 12px;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
    
  }
  .films::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Chrome/Safari/Webkit */
  }
  @media (min-width: 600px) {
    .films {
      flex-wrap: wrap;
      display: flex;
      justify-content: center;
    }
    .spacer{
        min-width: 0;
    }
  }
</style>
