<div class="slider">
  <a href="https://vk.com/screenlifer" class="card" target="_blank">
    <div class="text primary">Перевстретим</div>
    <div class="text primary">Новый год</div>
    <div class='spacer'/>
    <div class="text secondary">30 июня</div>
  </a>
</div>

<style>
    .spacer{
        height: 20px;
    }
  .slider {
    padding: 0px 17px;
    display:  flex;
    justify-content: center;
    overflow: auto;
  }
  .card {
    background: #000000;
    border-radius: 10px;
    padding: 20px;
    background-image: url(../images/guys.png);
    background-position: right bottom;
    background-repeat: no-repeat;
    min-height: 186.62px;
    box-sizing: border-box;
    width: 100%;
  }
  .text {
    font-style: normal;
    font-weight: 800;
    font-size: 17.5739px;
    line-height: 22px;
  }
  .primary {
    color: white;
  }
  .secondary {
    color: #fbcb19;
    font-size: 24px;
  }
  @media (min-width: 600px) {
    .card {
      max-width: 760px;
    }
  }
  a, a:active,
  a:focus {
    /* background: #000000; */
    outline: none;
    text-decoration: none;
  }
</style>
