<script>
  import sendMetrik from "../../helpers/sendMetrik";
  import { onMount } from "svelte";
  import { IS_MOBILE_VK } from "../../store/constants";
  import { selectedEpisode } from "../../store";
  import { resetEpisode } from "../../store/actions";
  import { fade } from "svelte/transition";
  import Back from "../../assets/Back.svelte";
  let innerWidth = 560;
  let overflowState = "";

  const episodeStart = Date.now();
  const sendCloseMetrik = (method = "tabClose") => {
    sendMetrik("EpisodeClose", {
      EpisodeDuration: Math.round((Date.now() - episodeStart) / 100) / 10 + "s",
      CloseMethod: method
    });
  };
  $: {
    if ($selectedEpisode !== null) {
      overflowState = document.body.style.overflow;
      document.body.style.overflow = "hidden";
    } else {
      document.body.style.overflow = overflowState;
    }
  }
  const close = () => {
    sendCloseMetrik('backButton');
    resetEpisode();
  };
  onMount(() => {
    window.addEventListener("beforeunload", sendCloseMetrik);
    return () => window.removeEventListener("beforeunload", sendCloseMetrik);
  });
</script>

{#if $selectedEpisode !== null}
  <div class="overlay" transition:fade|local on:click={close}>
    <div class="close" class:isMobileVk={IS_MOBILE_VK}>
      <Back />
    </div>
    <div class="content" on:click|stopPropagation>
      <iframe
        title={$selectedEpisode.title}
        height="315"
        width={innerWidth < 560 ? innerWidth : 540}
        src={$selectedEpisode.url + '?rel=0&autoplay=1'}
        frameborder="0"
        allow="accelerometer; autoplay; encrypted-media; gyroscope;
        picture-in-picture"
        allowfullscreen />
    </div>
  </div>
{/if}
<svelte:window bind:innerWidth />

<style>
  .close {
    position: absolute;
    top: 25px;
    left: 25px;
  }
  .overlay {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
  }
  .isMobileVk {
    top: 100px;
  }
</style>
