<script>
  import sendMetrik from "../../helpers/sendMetrik";
  import { onMount } from "svelte";
  import { episode, frameRate } from "../../store";
  import { IS_MOBILE_VK } from "../../store/constants";
  import { goToMain } from "../../store/actions";
  import { fade } from "svelte/transition";
  import { paused } from "../../store";
  import Play from "../../assets/Play.svelte";
  import Pause from "../../assets/Pause.svelte";
  import Back from "../../assets/Back.svelte";
  import SoundOn from "../../assets/SoundOn.svelte";
  import SoundOff from "../../assets/SoundOff.svelte";
  import Slider from "./Slider.svelte";
  import pannable from "../../helpers/pannable";
  import Quality from "./Quality.svelte";
  import Recomended from "./Recomended.svelte";
  export let play;
  export let currentTime;
  export let mute;
  export let muted;
  export let seeking;
  let elapsed = "";
  let remains = "";
  let visible = true;
  let visibleTimerId;
  let filmStart = Date.now();
  const sendCloseMetrik = (method = "tabClose") => {
    sendMetrik("FilmClose", {
      FilmDuration: Math.round((Date.now() - filmStart) / 100) / 10 + "s",
      CloseMethod: method
    });
  };
  $: isEnds = currentTime > (1 / $frameRate) * $episode.end;
  $: {
    if (currentTime < (1 / $frameRate) * $episode.start) {
      elapsed = "00:00:00";
    } else {
      elapsed = new Date(
        (currentTime - (1 / $frameRate) * $episode.start) * 1000
      )
        .toISOString()
        .slice(11, -5);
    }

    if (isEnds) {
      remains = "00:00:00";
    } else {
      remains = new Date(((1 / $frameRate) * $episode.end - currentTime) * 1000)
        .toISOString()
        .slice(11, -5);
    }
  }
  const onControlsClick = () => {
    visible = true;
    clearTimeout(visibleTimerId);
    visibleTimerId = setTimeout(hideContols, 5000);
  };
  const hideContols = () => {
    clearTimeout(visibleTimerId);
    if (!$paused && !seeking) {
      visible = false;
    } else {
      visibleTimerId = setTimeout(hideContols, 5000);
    }
  };
  $: if (!$paused) {
    setTimeout(() => (visible = false), 0);
  }
  paused.subscribe(state => {
    if (state) onControlsClick();
  });
  const back = () => {
    sendCloseMetrik("backButton");
    play();
    goToMain();
  };
  onMount(() => {
    window.addEventListener("beforeunload", sendCloseMetrik);
    return () => window.removeEventListener("beforeunload", sendCloseMetrik);
  });
</script>

<div
  class="controls"
  class:isEnds
  on:click={onControlsClick}
  use:pannable
  on:panstart
  on:panmove
  on:panend>
  {#if visible}
    <div class="topButtons" class:isMobileVk={IS_MOBILE_VK}>
      <div class="buttonWrapper" transition:fade|local on:click={back}>
        <button class="playButton">
          <Back />
        </button>
      </div>
      <div class="buttonWrapper" transition:fade|local>
        <!-- <Quality /> -->
        <button on:click={mute} class="playButton">
          {#if muted}
            <SoundOff />
          {:else}
            <SoundOn />
          {/if}
        </button>
      </div>
    </div>
    {#if isEnds}
      <div transition:fade|local class="recomended">
        <Recomended />
      </div>
    {/if}
    <div class="controlsWrapper" transition:fade|local>
      <Slider bind:currentTime />
      <div class="timig">
        <div>{elapsed}</div>
        <div>-{remains}</div>
      </div>
      <div class="play">
        <button on:click={play} class="playButton">
          {#if $paused}
            <Play size={21} />
          {/if}
          {#if !$paused}
            <Pause size={21} />
          {/if}
        </button>
      </div>
    </div>
  {/if}

</div>

<style>

  .recomended {
    margin-top: auto;
  }
  .topButtons {
    margin-top: 50px;
    padding: 0 16px;
    display: flex;
    justify-content: space-between;
  }
  .isMobileVk {
    margin-top: 100px;
  }
  .buttonWrapper {
    background: #23232390;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px 0;
    backdrop-filter: blur(10px) saturate(160%);
    -webkit-backdrop-filter: blur(10px) saturate(160%);
  }
  .playButton {
    height: 21px;
    margin: 0 16px;
  }
  button {
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  button:active {
    background: none;
    border: none;
    outline: none;
  }

  .controlsWrapper {
    background: #23232390;
    border-radius: 15px;
    padding: 16px;
    margin: 16px 16px 32px 16px;
    backdrop-filter: blur(10px) saturate(160%);
    -webkit-backdrop-filter: blur(10px) saturate(160%);
  }
  .timig {
    margin-top: 4px;
    display: flex;
    justify-content: space-between;
    color: #a5a5a5;
  }
  /* -------------------- */
  .controls {
    user-select: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 2;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .play {
    width: 100%;
    display: flex;
    justify-content: center;
    height: 21px;
  }
  @media (min-width: 600px) {
    .controls {
      left: 50%;
      transform: translateX(-50%);
      padding: 0 100%;
      right: initial;
    }
    .controlsWrapper {
      min-width: 400px;
    }
  }
  .isEnds {
    background: rgba(0, 0, 0, 0.5);
  }
</style>
