<script>
  import { fade } from "svelte/transition";
  import Loader from "../../components/Loader.svelte";
</script>

<div class="fixed background" transition:fade|local />
<div class="fixed loader" transition:fade|local>
  <div>
    <img src="./images/elkilogo2.png" alt="logo" class='logo'/>
    <Loader/>
  </div>
</div>

<style>
  .background {
    background-color: black;
    /* background-image: url(../images/fir2.png); */
    filter: blur(3px);
    z-index: 2;
  }
  .fixed {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
  }
  .logo{
    margin-bottom: 16px;
  }
</style>
