<script>
  import { fly } from "svelte/transition";
  import { videoQualityList, quality } from "../../store";
  let isOpen = false;
  const toggle = () => (isOpen = !isOpen);
  const close = () => {
    if (isOpen) toggle(false);
  };
  const selectQuality = targetQuality => {
    quality.set(targetQuality);
    close();
  };
</script>

<div class="dropdownWrapper">
  <button class="quality" on:click|stopPropagation={toggle}>{$quality}p</button>

  {#if isOpen}
    <div class="dropdown" transition:fly|local>
      {#each $videoQualityList as qialityItem}
        <button class="option" on:click={() => selectQuality(qialityItem)}>
          {qialityItem}p
        </button>
      {/each}
    </div>
  {/if}
</div>
<svelte:body on:click={close} />

<style>
  .option {
    padding: 8px 0;
    color: white;
  }
  .dropdown {
    position: absolute;
    top: 39px;
    background: rgba(35, 35, 35, 0.8);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    width: 72px;
    backdrop-filter: blur(10px) saturate(160%);
    -webkit-backdrop-filter: blur(10px) saturate(160%);
    user-select: none;
  }
  .quality {
    position: relative;
    margin: 0 16px 0 24px;
    min-width: 50px;
    text-align: center;
  }
  .dropdownWrapper {
    overflow: visible;
    position: relative;
    user-select: none;
  }
  button {
    color: #a5a5a5;
    padding: 0;
    margin: 0;
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    -webkit-tap-highlight-color: transparent;
  }
  button:active {
    background: none;
    border: none;
    outline: none;
  }
</style>
