<script>
  export let currentTime = 0;
  export let frame = 0;
  export let moveFrame = ()=>{}
  export let position = ''
  export let videoWidth = ''
  // export let scale = '';
  let time = "";
  $: {
    const minutes = Math.floor(currentTime / 60);
    let seconds = Math.floor(currentTime % 60);
    if (seconds < 10) seconds = "0" + seconds;

    time = `${minutes}:${seconds}`;
  }
</script>


<div class="container" >
<div>{time}</div>
<div>Frame: {frame}</div>
<div>videoWidth: {videoWidth}</div>
<!-- <div>scale: {scale}</div> -->
<div>position: {position}</div>
<button on:click={()=>moveFrame(-1)}>{"<"}</button>
<button on:click={()=>moveFrame()}>{">"}</button>
</div>


<style>
  .container {
    position: fixed;
    top: 20px;
    left: 20px;
    width: 100%;
    color: red;
    z-index: 99;
  }
  @media (min-width: 600px) {
    .container {
      left: 50%;
      transform: translateX(-50%);
      width: 400px;
      right: initial;
    }
  }
</style>
