<script>
  import { Route, router } from "tinro";
  import Header from "./components/Header.svelte";
  import { onMount } from "svelte";
  import { onVisibilityChange } from "./store/actions";
  import Main from "./views/Main.svelte";
  import Player from "./views/Player.svelte";
  import FilmEpisodes from "./views/FilmEpisodes.svelte";
  import sendMetrik from "./helpers/sendMetrik";
  onMount(() => {
    sendMetrik("Visible");
    document.addEventListener("visibilitychange", onVisibilityChange);
    return () =>
      document.removeEventListener("visibilitychange", onVisibilityChange);
  });
  router.useHashNavigation();
  $: $router.path, window.scrollTo(0, 0)
</script>

<Header />
<Route path="/">
  <Main />
</Route>
<Route path="/player/:id/:episodeId" let:params>
  <Player {params}/>
</Route>
<Route path="/film/:id" let:params>
  <FilmEpisodes {params}/>
</Route>

<style>
:global(.plyr__controls) {
    display: none;
  }
  :global(body) {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
</style>
